version: '3.8'
services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow

  scheduler:
    image: apache/airflow:2.7.1
    command: scheduler
    restart: always
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      # Hapus baris _PIP_ADDITIONAL_REQUIREMENTS yang lama, ganti jadi ini:
      - _PIP_REQUIREMENTS_FROM_FILE=/opt/airflow/requirements.txt
      - AIRFLOW__WEBSERVER__SECRET_KEY=FPfzfEK9NDqGiGehVVpe_LJV5NuUVp7k9U1gLGzZyw8=
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
      - ./requirements.txt:/opt/airflow/requirements.txt # Tambahkan baris ini juga di volumes!

  webserver:
    image: apache/airflow:2.7.1
    command: webserver
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
      # Hapus baris _PIP_ADDITIONAL_REQUIREMENTS yang lama, ganti jadi ini:
      - _PIP_REQUIREMENTS_FROM_FILE=/opt/airflow/requirements.txt
      - AIRFLOW__WEBSERVER__SECRET_KEY=FPfzfEK9NDqGiGehVVpe_LJV5NuUVp7k9U1gLGzZyw8=
    volumes:
      - ./dags:/opt/airflow/dags
      - ./data:/opt/airflow/data
      - ./requirements.txt:/opt/airflow/requirements.txt # Tambahkan baris ini juga di volumes!

    
